@model Latvijas_Pasts.Models.Cv

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cv</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <h4>Address</h4>
            <div class="form-group">
                <label asp-for="Address.Country" class="control-label"></label>
                <input asp-for="Address.Country" class="form-control" />
                <span asp-validation-for="Address.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Street" class="control-label"></label>
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.PostalCode" class="control-label"></label>
                <input asp-for="Address.PostalCode" class="form-control" />
                <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.HouseNumber" class="control-label"></label>
                <input asp-for="Address.HouseNumber" class="form-control" />
                <span asp-validation-for="Address.HouseNumber" class="text-danger"></span>
            </div>

            <h4>Education</h4>
            <div id="education-container">
                @for (int i = 0; i < Model.EducationList.Count; i++)
                {
                    <div class="education-item">
                        <input type="hidden" asp-for="EducationList[i].Id" />

                        <div class="form-group">
                            <label asp-for="EducationList[i].InstitutionName" class="control-label"></label>
                            <input asp-for="EducationList[i].InstitutionName" class="form-control" />
                            <span asp-validation-for="EducationList[i].InstitutionName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EducationList[i].Faculty" class="control-label"></label>
                            <input asp-for="EducationList[i].Faculty" class="form-control" />
                            <span asp-validation-for="EducationList[i].Faculty" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EducationList[i].StudyField" class="control-label"></label>
                            <input asp-for="EducationList[i].StudyField" class="form-control" />
                            <span asp-validation-for="EducationList[i].StudyField" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EducationList[i].Degree" class="control-label"></label>
                            <input asp-for="EducationList[i].Degree" class="form-control" />
                            <span asp-validation-for="EducationList[i].Degree" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EducationList[i].Status" class="control-label"></label>
                            <input asp-for="EducationList[i].Status" class="form-control" />
                            <span asp-validation-for="EducationList[i].Status" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EducationList[i].Duration" class="control-label"></label>
                            <input asp-for="EducationList[i].Duration" class="form-control" />
                            <span asp-validation-for="EducationList[i].Duration" class="text-danger"></span>
                        </div>
                        <button type="button" class="btn btn-danger remove-education">Remove Education</button>
                        <hr />
                    </div>
                }
            </div>
            <button type="button" id="add-education" class="btn btn-secondary">Add New Education</button>

            <h4>Experience</h4>
            <div id="experience-container">
                @for (int i = 0; i < Model.ExperienceList.Count; i++)
                {
                    <div class="experience-item">
                        <input type="hidden" asp-for="ExperienceList[i].Id" />

                        <div class="form-group">
                            <label asp-for="ExperienceList[i].CompanyName" class="control-label"></label>
                            <input asp-for="ExperienceList[i].CompanyName" class="form-control" />
                            <span asp-validation-for="ExperienceList[i].CompanyName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ExperienceList[i].Position" class="control-label"></label>
                            <input asp-for="ExperienceList[i].Position" class="form-control" />
                            <span asp-validation-for="ExperienceList[i].Position" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ExperienceList[i].Duration" class="control-label"></label>
                            <input asp-for="ExperienceList[i].Duration" class="form-control" />
                            <span asp-validation-for="ExperienceList[i].Duration" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ExperienceList[i].Description" class="control-label"></label>
                            <input asp-for="ExperienceList[i].Description" class="form-control" />
                            <span asp-validation-for="ExperienceList[i].Description" class="text-danger"></span>
                        </div>
                        <button type="button" class="btn btn-danger remove-experience">Remove Experience</button>
                        <hr />
                    </div>
                }
            </div>
            <button type="button" id="add-experience" class="btn btn-secondary">Add New Experience</button>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script>
        $(document).ready(function () {
            $("#add-education").click(function () {
                var index = $("#education-container .education-item").length;
                var newEducation = $("#education-container .education-item:first").clone();
                newEducation.find("input").each(function () {
                    var name = $(this).attr("name");
                    if (name) {
                        var newName = name.replace(/\[\d+\]/, "[" + index + "]");
                        $(this).attr("name", newName);
                        $(this).attr("id", newName);
                        $(this).val("");
                    }
                });
                newEducation.find("input[name$='.Id']").val(0);
                $("#education-container").append(newEducation);
            });

            $("#education-container").on("click", ".remove-education", function () {
                $(this).closest(".education-item").remove();
            });

            $("#add-experience").click(function () {
                var index = $("#experience-container .experience-item").length;
                var newExperience = $("#experience-container .experience-item:first").clone();
                newExperience.find("input").each(function () {
                    var name = $(this).attr("name");
                    if (name) {
                        var newName = name.replace(/\[\d+\]/, "[" + index + "]");
                        $(this).attr("name", newName);
                        $(this).attr("id", newName);
                        $(this).val("")
                    }
                });
                newExperience.find("input[name$='.Id']").val(0);
                $("#experience-container").append(newExperience);
            });

            $("#experience-container").on("click", ".remove-experience", function () {
                $(this).closest(".experience-item").remove();
            });
        });
    </script>
}
